.cask/
elpa/
auto-save-list/
.saves/*
!.saves/.gitkeep
local_config/*
!local_config/.gitkeep
.custom-set/*
!.custom-set/.gitkeep
snippets/
\#*
\.\#*
*~
*.cache
.dict/*
request/
!.dict/.gitkeep
projectile-bookmarks*
.mc-lists.el
*.dat
session.*